*{
    margin: 0px;
    padding: 0px;
    background-color: black;
}
body{
    color: silver;
}
ul{
    margin: 30px 0px 0px 20px;
    display: inline;
    padding: 0px;
}
.rodape{
    position:absolute;
    bottom:0;
    width:100%;
    background-color: indigo;
    color: silver;
    text-align: end;
}
.cabecalho{
    position:absolute;
    top:0;
    width:100%;
    background-color: indigo;
    color: silver;
    text-align: center;
}
li{
    margin-left: 5px;
    margin-right: 4px;
    display: inline;
}
h1,h2,h3{
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
    color: silver;

}
a{
    text-decoration: none;
    color: silver;
}
.botao{
    background-color: silver;
    color: black;
    width: 173px;
    left: 173px;
    top: 30px;
}
input{
    display: block;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: darkgray;
    color: darkred;
}
label{
    display: block;
    font-weight: bold;
}
form{
    display: inline;
}
input[type='file']{
    display: none;
}
.menu{
    margin-top: 30px;
    margin-bottom: 40px;
}
td{
    border: silver;
    border-style: solid;
    border-width: 1px;
}
table{
    border-spacing: 10px;
}
.tabela{
    align-items: center;
}
.imagem{
    margin-top: 7px;
    background-color: silver;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 173px;
    left: 173px;
}


